
@{
    ViewBag.Title = "關於我們";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Content/img/bg-img/breadcumb1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>關於我們</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### clientinfo Start ##### -->

    <section class="about-area section-padding-80">
        <div class="container">
            <div class="text-center mt-50 mb-50">
                <h3>Chef's Foody 是您最好的選擇</h3>
                <hr class="hr" style="width: 17%;">
            </div>
        </div>
        <div class="row" style="width: 95%; margin: auto;">



            <div class="col-12 col-sm-6 col-lg-4 hoverstyle">

                <div class="single-best-receipe-area mb-50">
                    <div class="picautosize">
                        <div class="img-style4" style="background-image: url(/Content/img/bg-img/us1.jpg);"></div>
                    </div>
                    <div class="receipe-content">
                        <table>
                            <tr>
                                <td class="table_td1">
                                    <h5><b>新鮮食材&絕對的品質</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <div>
                                        <p class="">
                                            再到府服務的當天，私廚會提前採購當天所需的新鮮食材，
                                            確保食材的品質可以完美符合客戶們的期待。
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4 hoverstyle">

                <div class="single-best-receipe-area mb-50">
                    <div class="picautosize">
                        <div class="img-style4" style="background-image: url(/Content/img/bg-img/us2.jpg);"></div>
                    </div>
                    <div class="receipe-content">
                        <table>
                            <tr>
                                <td class="table_td1">
                                    <h5><b>最方便的選擇</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <div>
                                        <p class="">
                                            在人多的周末想找餐廳卻擔心訂不到位,或是不想花兩倍的時間在交通上嗎?
                                            那我們的私廚服務絕對是您的首選,幫您節省了交通時間又同時能達到您想要的餐廳品質。
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Single Best Receipe Area -->
            <div class="col-12 col-sm-6 col-lg-4 hoverstyle">

                <div class="single-best-receipe-area mb-50">
                    <div class="picautosize">
                        <div class="img-style4" style="background-image: url(/Content/img/bg-img/us4.jpg);"></div>
                    </div>
                    <div class="receipe-content">
                        <table>
                            <tr>
                                <td class="table_td1">
                                    <h5><b>在家也能享有專業的廚藝教室</b></h5>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <div>
                                        <p class="">
                                            Chef's Foody 提供了線上以級現下課程，讓您在最熟悉的環境學習如何煮出美味的料理。
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <!-- ##### clientinfo End ##### -->


</body>