
@{
    ViewBag.Title = "服務項目";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/Content/img/bg-img/breadcumb1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>服務項目</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### clientinfo Start ##### -->

    <section class="about-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class=col-lg-12>
                    <label class="comment">
                        <h4 style="line-height:47px;">私廚到你家</h4>
                    </label>
                </div>
                <!-- Single Best Receipe Area -->
                <div class="col-lg-6 hoverstyle">

                    <div class="single-best-receipe-area mb-50  us_outter">
                        <div class="us_inner">
                            <p>
                                有別於一般的外送平台與服務，Chef's Foody 提供了外送私廚的服務，把您想擁有的餐廳服務完整的外送到您想要的空間，給您最完整的私人服務品質。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hoverstyle">

                    <div class="single-best-receipe-area mb-50">
                        <div>
                            <img src="/Content/img/bg-img/us7.jpg">
                        </div>
                    </div>
                </div>
                <div class=col-lg-12>
                    <label class="comment">
                        <h4 style="line-height:47px;">線下廚藝教室</h4>
                    </label>
                </div>
                <div class="col-lg-6 hoverstyle">

                    <div class="single-best-receipe-area mb-50">
                        <div>
                            <img src="/Content/img/bg-img/us9.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hoverstyle">

                    <div class="single-best-receipe-area mb-50 us_outter">
                        <div class="us_inner">
                            <p>
                                Chef's Foody 的線下課程讓您能在任何您喜歡的環境下學習亨飪技巧，同時也無需顧慮食材的準備，也能邀請好友或家人一同參與。
                            </p>
                        </div>
                    </div>
                </div>
                <div class=col-lg-12>
                    <label class="comment">
                        <h4 style="line-height:47px;">線下廚藝教室</h4>
                    </label>
                </div>
                <div class="col-lg-6 hoverstyle">

                    <div class="single-best-receipe-area mb-50 us_outter">
                        <div class="us_inner">
                            <p>
                                Chef's Foody 也同時線上課程，讓您能在一杯咖啡的休息時光學習簡單的甜點，又或是在一個剛睡醒的早晨，穿著睡衣學習如何料理早午餐，
                                沒有時間與空間的限制，只要您想要隨時可以學習您喜歡的料理亨飪技巧。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hoverstyle">

                    <div class="single-best-receipe-area mb-50">
                        <div>
                            <img src="/Content/img/bg-img/us10.jpg">
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </section>


</body>